<div class="container">
    <h1 class="m-5" id="heading">To-Do Application</h1>
        <div class="row gx-5">
            <div class="col col-lg-6">
                <div class=" px-3 py-2 shadow-sm bg-body rounded">
                    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm" class="">
                        <div class="form-group mb-2">
                            <label for="task">Task</label>
                            <input type="text" class="form-control" id="task" placeholder="Enter task" ngModel name="task"
                                required>
                            <small *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage"
                                class="form-text text-danger">Required
                                field</small>
                        </div>
                        <div class="form-group">
                            <label for="time">Time</label>
                            <input type="time" class="form-control" id="time" placeholder="Enter time" ngModel name="time"
                                required>
                            <small *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage"
                                class="form-text text-danger">Required
                                field</small>
                        </div>
    
                        <button [disabled]="taskForm.invalid" id="submitButton" type="submit"
                            class="btn btn-primary">Submit</button>
                    </form>
                </div>
              
            </div>
            <div class="col col-lg-6">
                <table class="table shadow-sm">
                    <thead>
                        <tr>
                            <th scope="col">Task</th>
                            <th>Time</th>
                            <th scope="col">Completed</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let t of taskArray; index as i">
                            <td>{{t.taskName}}</td>
                            <td>{{t.time}}</td>
                            <td><input (change)="onCheck(i)" id="myCheckbox" type="checkbox"></td>
                            <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
